<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>How To</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascript/script.js"></script>
</head>

<body>

    <!--Cabeçalho-->
    <header id="header">
        <div id="texto">
                HOW
        </div>
        <div id="textoto">
                TO
        </div>
        <div id="icon">
            <a href="/">
                <img src="https://image.flaticon.com/icons/png/512/25/25694.png" width="50" id="home" alt="">
            </a>
        </div>
    </header>

    <!--Campo para inserção das páginas-->
    <div id="main">
        <table>
            <%- body %>
        </table>
    </div>

    <!--Rodapé-->
    <footer id="footer">
        <p style="margin-top: 15px;">Site Desenvolvido por: Guilherme José & Vinícius Cotrim. Nenhum Direito Reservado ®</p>
    </footer>

</html>